ul {
  margin: 0;
  padding: 0;
}

#save-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0 0, 0, 0.5);

  z-index: 999;
}

#save-modal {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 600px;
  height: 320px;
  transform: translate(-50%, -50%);

  border: 1px solid #ffffff;
  box-shadow: 0 0 15px rgba(0 0, 0, 0.3);
  border-radius: 20px;

  background-color: #ffffff;

  transform: 'translate(-50%, -50%)';

  z-index: 1000;
}

.modal-container {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;

  width: auto;
  height: 100%;

  border: none;

  display: flex;
}

.modal-container-divider {
  width: 1px;
  height: 100%;
  background-color: #ccc;
}

.modal-drop-section {
  padding: 20px;

  width: 280px;
  min-width: 280px;
  height: auto;
}

.modal-drop-box {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  border: 1px dashed #aaaaaa;

  width: 100%;
  height: 100%;

  border-radius: 20px;

  align-items: center;
  justify-content: space-around;

  font-size: 16px;
  font-weight: 900;

  opacity: 0.5;
}

.modal-drop-box.drag-over {
  opacity: 1;
}

.modal-drop-logo {
  width: 175px;
}

.modal-directory-section {
  width: 280px;
  max-width: 280px;

  display: flex;
  flex-direction: column;
}

.modal-directory-list {
  padding: 10px 20px;

  flex-grow: 1;

  overflow-y: scroll;
  scrollbar-width: none;
  overflow-x: hidden;
}

.modal-folder-area {
  margin: 0;
  padding: 5px;

  width: 100%;

  box-sizing: border-box;

  display: flex;

  border: 1px solid #ffffff;
  border-radius: 10px;

  background-color: #ffffff;

  align-items: center;

  cursor: pointer;
}

.modal-folder-title {
  margin-left: 8px;

  font-size: 16px;
  color: #000000;
}

.modal-directory-add {
  box-sizing: border-box;

  padding: 5px 20px;

  display: flex;

  border-radius: 10px;

  height: 60px;
}

.modal-directory-divider {
  width: 100%;
  height: 1px;

  background-color: #ccc;
}

.modal-droppable {
  background-color: white;
}

.modal-droppable.drag-over {
  background-color: #eeeeee;

  transition: 0.1s;
}

#create-folder-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0px 10px;

  box-sizing: border-box;

  width: 385px;
  height: 80px;

  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;

  background-color: #ffffff;

  border: 1px solid #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px;

  z-index: 1000;
}

.modal-create-folder-input {
  box-sizing: border-box;

  padding: 0 20px;

  width: 295px;
  height: 50px;

  border: 2px solid #eeeeee;
  border-radius: 10px;

  font-size: 20px;
}

.modal-create-folder-img {
  width: 50px;

  cursor: pointer;
}

.alert-modal {
  position: fixed;
  right: 50px;
  bottom: 50px;

  padding: 15px;

  box-sizing: border-box;

  width: 500px;
  height: 120px;

  display: flex;
  flex-direction: row;

  align-items: center;

  background-color: #ffffff;

  border: 1px solid #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  z-index: 1000;

  animation: slideInFromRight 0.5s ease forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.modal-response-img {
  width: 96px;
  max-width: 96px;
  max-height: 96px;

  background-color: #cccccc;
}

.modal-result-img {
  width: 32px;
}

.modal-response-box {
  margin-left: 20px;

  display: flex;
  flex-direction: column;

  height: 100%;
}

.modal-response-title-box {
  display: flex;
  flex-direction: row;

  align-items: center;

  height: 50%;

  font-size: 24px;
}

.modal-response-title {
  margin-left: 10px;

  font-weight: 700;
}

.modal-response-text {
  height: 50%;

  display: flex;
  align-items: center;

  font-size: 24px;
}
